.hero {
    padding: 190px 0 160px 0;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__title {
        color: #141416;
        font-size: clamp(45px, 5vw, 72px);
        margin-bottom: 16px;
        line-height: 110%;
    }

    &__description {
        margin-bottom: 45px;
        max-width: 500px;
        color: #676767;
        line-height: 150%;
    }

    &__text {
        max-width: calc(50% - 24px);
        position: relative;

        &::before {
            content: '';
            width: 195px;
            height: 0.5px;
            background-color: #201F1F;
            display: block;
            position: absolute;
            left: 0;
            top: -10px;
        }
    }

    &__slider {
        max-width: calc(50% - 24px);
    }

    &__nums {
        max-width: 452px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 80px;
    }

    &__num {
        color: #848586;
        font-size: 12px;
        display: flex;
        flex-direction: column;

        span {
            display: block;
            color: #141416;
            font-weight: 700;
            font-size: 36px;
        }
    }

    &__buttons {
        display: flex;
        gap: 20px;
        align-items: center;
    }
}

.slider {
    &__items {
        position: relative;
        // overflow-x: hidden;
        width: 750px;
        height: 460px;
    }

    &__item {
        position: absolute;
        top: auto;
        bottom: 0;
        right: 0;
        left: auto;
        width: 100%;
        height: 100%;
        max-width: 320px;
        max-height: 320px;
        transition-duration: .5s;
        border-radius: 30px;
        opacity: 1;
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08), 0 0 60px rgba(0, 0, 0, 0.04);

        &--active {
            max-width: 391px;
            max-height: 391px;
            left: 0;
            right: auto;
            top: 0;
            bottom: auto;
            opacity: 1;
        }

        &--hidden {
            opacity: 0;
        }
    }

    &__buttons {
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08), 0 2px 4px rgba(0, 0, 0, 0.06);
    }
}



// .slider__item {
//   display: none;
// }
// .slider__item.slider__item--active {
//   display: block;
// }