<header class="header">
  <div class="header__container">
    <a href="index.html" class="header__logo">
      <img src="@img/header/header-logo.svg" alt="Header logo">
    </a>
    <nav class="header__nav">
      <a href="#" class="header__link">Discover</a>
      <a href="#" class="header__link">Creators</a>
      <a href="#" class="header__link">Sell</a>
      <a href="#" class="header__link">Stats</a>
    </nav>
    <div class="header__form" data-move=".header__nav" data-breakpoint="1100">
      <div class="header__search">
        <svg class="header__icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none"
          viewBox="0 0 24 24">
          <path stroke="#A1A1AA" stroke-width="2"
            d="M21 21l-4.35-4.35M10.5 17a6.5 6.5 0 1 1 0-13 6.5 6.5 0 0 1 0 13Z" />
        </svg>
        <input class="header__input" type="text" placeholder="Search Art Work / Creator">
      </div>
      <button class="header__button button button__black">CONNECT WALLET</button>
    </div>
    <div class="header__overlay"></div>
    <div class="header__burger">
      <span></span>
    </div>
  </div>
</header>