<div class="banner">
    <div class="banner__container">
        <div class="banner__col">
            <h2>Create and Sell NFTs</h2>
            <p>World’s Largest NFT Place</p>
            <div class="banner__buttons">
                <button class="button button__white">Explore More</button>
                <button class="button button__white button__white--inverse">Sell Artwork</button>
            </div>
        </div>
        <img class="banner__image lazy" data-src="@img/banner/banner-img.png" alt="Banner image">
    </div>
</div>