<section class="hero">
    <div class="hero__container">
        <div class="hero__text">
            <h1 class="hero__title">@@title</h1>
            <p class="hero__description">@@desc</p>
            <div class="hero__buttons">
                <button class="button button__black">Explore More</button>
                <button class="button button__black button__black--inverse">Create NFT</button>
            </div>
            <div class="hero__nums">
                <div class="hero__num">
                    <span>430K+</span>
                    Art Works
                </div>
                <div class="hero__num">
                    <span>159K+</span>
                    Creators
                </div>
                <div class="hero__num">
                    <span>87K+</span>
                    Collections
                </div>
            </div>
        </div>

        <div class="hero__slider slider">
            <div class="slider__items">
                <img src="@img/hero/slide_1.jpg" alt="Slide image" class="lazy slider__item slider__item--active" draggable="false">
                <img src="@img/hero/slide_2.jpg" alt="Slide image" class="lazy slider__item" draggable="false">
                <img src="@img/hero/slide_1.jpg" alt="Slide image" class="lazy slider__item slider__item--hidden" draggable="false">
                <img src="@img/hero/slide_2.jpg" alt="Slide image" class="lazy slider__item slider__item--hidden" draggable="false">
            </div>

            <div class="slider__buttons">
                <button class="slider__button slider__button--prev">Prev</button>
                <button class="slider__button slider__button--next">Next</button>
            </div>
        </div>
    </div>
</section>


<!-- використання компонента -->
<!-- @@include('components/hero.html', {
"title": "Мій заголовок",
"desc": "Опис секції",
"buttonText": "Натисни сюди"
}) -->