<section class="hero">
    <div class="hero__container">
        <div class="hero__text">
            <h1>@@title</h1>
            <p>@@desc</p>
            <div class="hero__buttons">
                <button class="button button__black">Explore More</button>
                <button class="button button__black button__black--inverse">Create NFT</button>
            </div>
        </div>

        <div class="hero__slider">

        </div>
    </div>
</section>


<!-- використання компонента -->
<!-- @@include('components/hero.html', {
"title": "Мій заголовок",
"desc": "Опис секції",
"buttonText": "Натисни сюди"
}) -->