<div class="market">
    <div class="market__container">
        <h2 class="market___filters">
            <h2 class="title title title--center">Explore Marketplace</h2>
        <div class="market__filters">
            <button class="market__filter">All</button>
            <button class="market__filter"><img class="lazy market__filter-image" draggable="false"
                    data-src="@img/icons/category.svg" alt="Category icon"> Category</button>
            <button class="market__filter"><img class="lazy market__filter-image" draggable="false"
                    data-src="@img/icons/collection.svg" alt="Collection icon">Collection</button>
            <button class="market__filter"><img class="lazy market__filter-image" draggable="false"
                    data-src="@img/icons/price.svg" alt="Price icon">Price</button>
        </div>
        <div class="market__items">
            <div class="market__item">
                <a href="#"><img class="lazy market__item-image" draggable="false"
                        data-src="@img/market/market-item-1.jpg" alt="Marketplace item image"></a>
                <p class="market__item-title">Sun-Glass</p>
                <div class="market__item-bottom">
                    <div>
                        <p>Current bid</p>
                        <span><img class="lazy market__icon" draggable="false" data-src="@img/icons/etherium.svg"
                                alt="Etherium icon"> 1.75</span>
                    </div>
                    <button class="button button__black">PLACE BID</button>
                </div>
                <span class="market__timer">07h 09m 12s</span>
            </div>

            <div class="market__item">
                <a href="#"><img class="lazy market__item-image" draggable="false"
                        data-src="@img/market/market-item-1.jpg" alt="Marketplace item image"></a>
                <p class="market__item-title">Sun-Glass</p>
                <div class="market__item-bottom">
                    <div>
                        <p>Current bid</p>
                        <span><img class="lazy market__icon" draggable="false" data-src="@img/icons/etherium.svg"
                                alt="Etherium icon"> 1.75</span>
                    </div>
                    <button class="button button__black">PLACE BID</button>
                </div>
                <span class="market__timer">07h 09m 12s</span>
            </div>

            <div class="market__item">
                <a href="#"><img class="lazy market__item-image" draggable="false"
                        data-src="@img/market/market-item-1.jpg" alt="Marketplace item image"></a>
                <p class="market__item-title">Sun-Glass</p>
                <div class="market__item-bottom">
                    <div>
                        <p>Current bid</p>
                        <span><img class="lazy market__icon" draggable="false" data-src="@img/icons/etherium.svg"
                                alt="Etherium icon"> 1.75</span>
                    </div>
                    <button class="button button__black">PLACE BID</button>
                </div>
                <span class="market__timer">07h 09m 12s</span>
            </div>

            <div class="market__item">
                <a href="#"><img class="lazy market__item-image" draggable="false"
                        data-src="@img/market/market-item-1.jpg" alt="Marketplace item image"></a>
                <p class="market__item-title">Sun-Glass</p>
                <div class="market__item-bottom">
                    <div>
                        <p>Current bid</p>
                        <span><img class="lazy market__icon" draggable="false" data-src="@img/icons/etherium.svg"
                                alt="Etherium icon"> 1.75</span>
                    </div>
                    <button class="button button__black">PLACE BID</button>
                </div>
                <span class="market__timer">07h 09m 12s</span>
            </div>

        </div>
    </div>
</div>