<div class="table">
    <div class="table__container">
        <h2 class="title title--center">Top Collection</h2>
        <div class="table__table">
            <table>
                <thead>
                    <tr>
                        <th>Collection</th>
                        <th>Volume</th>
                        <th>24h %</th>
                        <th>Floor Price</th>
                        <th>Owners</th>
                        <th>Items</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <img class="lazy" data-src="@img/table/table-avatar.jpg" alt="Collection Image" width="60"
                                height="60" />
                            <div>
                                <strong>Alex Ca.</strong>
                                <small>By Alex</small>
                            </div>
                        </td>
                        <td>
                            <img class="lazy" data-src="@img/table/eth.svg" alt="ETH Icon" width="12" />
                            8,456
                        </td>
                        <td style="color: green;">+ 27.78%</td>
                        <td>
                            <img class="lazy" data-src="@img/table/eth.svg" alt="ETH Icon" width="12" />
                            3,5
                        </td>
                        <td>2.2K</td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>
                            <img class="lazy" data-src="@img/table/table-avatar-1.jpg" alt="Collection Image" width="60"
                                height="60" />
                            <div>
                                <strong>Alex Ca.</strong>
                                <small>By Alex</small>
                            </div>
                        </td>
                        <td>
                            <img class="lazy" data-src="@img/table/eth.svg" alt="ETH Icon" width="12" />
                            4,780
                        </td>
                        <td style="color: green;">+ 27.78%</td>
                        <td>
                            <img class="lazy" data-src="@img/table/eth.svg" alt="ETH Icon" width="12" />
                            7,9
                        </td>
                        <td>3.4K</td>
                        <td>900</td>
                    </tr>
                    <tr>
                        <td>
                            <img class="lazy" data-src="@img/table/table-avatar.jpg" alt="Collection Image" width="60"
                                height="60" />
                            <div>
                                <strong>Alex Ca.</strong>
                                <small>By Alex</small>
                            </div>
                        </td>
                        <td>
                            <img class="lazy" data-src="@img/table/eth.svg" alt="ETH Icon" width="12" />
                            8,456
                        </td>
                        <td style="color: green;">+ 27.78%</td>
                        <td>
                            <img class="lazy" data-src="@img/table/eth.svg" alt="ETH Icon" width="12" />
                            3,5
                        </td>
                        <td>2.2K</td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>
                            <img class="lazy" data-src="@img/table/table-avatar-1.jpg" alt="Collection Image" width="60"
                                height="60" />
                            <div>
                                <strong>Alex Ca.</strong>
                                <small>By Alex</small>
                            </div>
                        </td>
                        <td>
                            <img class="lazy" data-src="@img/table/eth.svg" alt="ETH Icon" width="12" />
                            4,780
                        </td>
                        <td style="color: green;">+ 27.78%</td>
                        <td>
                            <img class="lazy" data-src="@img/table/eth.svg" alt="ETH Icon" width="12" />
                            7,9
                        </td>
                        <td>3.4K</td>
                        <td>900</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a class="explore" href="#">Explore All <svg width="17" height="17" viewBox="0 0 17 17" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M1.82129 8.351H15.7861" stroke="#ACADB9" stroke-width="1.99471" stroke-linecap="round"
                    stroke-linejoin="round" />
                <path d="M8.80176 1.36646L15.7841 8.34884L8.80176 15.3312" stroke="#ACADB9" stroke-width="1.99471"
                    stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </a>
    </div>
</div>